<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzap</title>
    <!-- BOOTSRAP CDN  -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- VUE JS CDN -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- MAIN JS -->
    <script defer src="main.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="style.css">
</head>
<body>


    <div id="root" class="container my-4 p-0 d-flex">
        
        <!-- SIDEBAR -->
        <div id="sidebar">

            <!-- USER HEADER -->
            <div class="usersection d-flex justify-content-between align-items-center">
                <div class="user h-100">
                <img :src="`img/avatar${user.avatar}.jpg`" :alt="user.name">
                <span class="fw-bold px-2">{{user.name}}</span>
                </div>
                <div class="user_option">
                <a href="#"><i class="bi bi-arrow-clockwise fs-3 mx-2"></i></a>
                <a href="#"><i class="bi bi-chat-left-fill fs-3 mx-2" ></i></a>
                <a href="#"><i class="bi bi-three-dots-vertical fs-3 mx-2"></i></a>
                </div>
            </div>

            <!-- NOTIFICS SECTIONS -->
            <div class="notifics_section d-flex align-items-center">
                <div class="bell d-flex align-items-center mx-2">
                <i class="bi bi-bell-slash-fill fs-3"></i>
                </div>
                <div class="notific_text">
                    <p>Ricevi notifiche di nuovi messaggi</p>
                <a href="#">Attiva notifiche desktop</a>
                </div> 
            </div>

            <!-- SEARCH SECTION -->
            <div class="search_section py-2 px-1">
                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="bi bi-search"></i></span>
                    <input v-model="searchText" type="text" class="form-control" placeholder="Cerca o inizia una nuova chat" >
                  </div>
            </div>
           
            <!-- CONTACTS LIST -->
                <div class="list-group contacts_section">
                    <button v-for="contact in  filteredContacts"  @click="setCurrentId(contact.id)"
                        type="button" class="list-group-item list-group-item-action contact">
                        <img :src="getAvatar(contact)" :alt="contact.name">
                        <p class="fw-bold d-inline">{{contact.name}}</p></button>
                </div>
        </div>

        <!-- CHAT -->
        <div id="mainchat" class="d-flex justify-content-between flex-column">
            
            <!-- HEADER CONTACT -->
            <div class="current_contact w-100 d-flex justify-content-between align-items-center">
                <div class="contact h-100">
                    <img :src="getAvatar(currentContact)" :alt="currentContact.name">
                    <span class="fw-bold px-2">{{currentContact.name}}</span>
                </div>
                <div class="contact_options">
                    <i class="bi bi-search mx-2 fs-3"></i>
                    <i class="bi bi-paperclip mx-2 fs-3"></i>
                    <i class="bi bi-three-dots-vertical fs-3 mx-2"></i>
                </div>
            </div>

            <!-- MAIN CHAT -->
            <div class="chat">
                
                  
                <div v-for="message in currentChat"  :key="message.id" @click="setCurrentMess(message.id)">
                <div class="msg " type="button"
                :class="message.status"
                @click="isDropdown()" > 
                
                 
                <p @click="setCurrentMess(message.id)">{{message.message}}

                </p>
                      

                <span class="date">{{message.date}}</span>
                
                <i class="bi bi-caret-down-fill" ></i>
                <div v-if="dropdown" class="dropdown-option text-center">Delete</div>

                </div>

                </div>
            </div>
            

            <!-- TEXT SECTION -->
            <div class="text_section w-100 container ">
                <div class="row d-flex justify-content-between align-items-center h-100">
                    <div class="col-1">
                        <i class="bi bi-emoji-smile mx-2 fs-3"></i>
                    </div>
                    <div class="col-10">
                        <input v-model.trim="newText" @keyup.enter="sendMess" type="text" class="form-control" placeholder="Scrivi un messaggio">
                    </div>
                    <div class="col-1">
                        <i class="bi bi-mic-fill mx-2 fs-3"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>